
 /*=========================== Public ==================================*/
.image-container {

    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: #c7cbd1;
    float: left;

    /* 设置该元素定位，相对(relative)或是绝对(absolute)并不重要，目的是使之成为“已定位的祖先元素” */
    position: relative;

}


/*============================= Test 01 ====================================*/
.image-test {
    width: 200px;
    /*display: block;*/
}

.panel {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: dashed;

    /*padding属性内边距属性，它保持设置的元素宽高不变，然后边界向外扩展，所以padding属性会使元素就实际大小变大*/
    /*padding: 10px;*/
    margin: 50px;

    /* div为block对象，若前一个元素为 block，则默认会在上一个元素的下方显示。若想并列显示，则前后两个元素都需要设置 float 样式。 */
    /*float: left;*/

    /* 设置绝对定位，其其位置是相对于“最近的已定位的祖先元素”，若是没有，则相对于“文档最初的包含块”——可能是HTML元素或画布 */
    position: absolute;
    /* 设置其相对于已定位的父元素右下对齐 */
    bottom: 0;
    right: 0;
}

.radio {
    /*一个数字表示四边外边距一样；
	  两个数字第一个表示上下外边距，第二个表示左右外边距；
	  三个数字第一个表示上边距，第二个表示左右边距，第三个表示下边距
	  四个数字表示上、右、下、左
	  要想左右边距一样，上下边距不一样，就只能四个参数分别设置了
	*/
    margin: 10px 5px 0px 10px;
}


/*============================= Test 02 ====================================*/